p {
    text-align: left;
    font-size: 20px;
    color: black;
    width: 50%;
    word-wrap: break-word;
    height:100%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

h2 {
    text: bald;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 5px;
   
}

.navbar {
    position: fixed; /* Fixované na hornej časti stránky */
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    z-index: 1000; /* Aby bolo menu vždy nad obsahom */
    text-decoration:none;
}

